body {
    text-align: center !important;
}

h1 {
    font-size: 50px;
    color: white;
    background: black;
}

h1 > span {
    color: gold;
}

div {
    text-align: center;
}

input {
    height: 30px;
    border-radius: 40px;
    margin-right: 10px;
    margin-left: 5px;
    width: 200px;
    background: black;
    color: gold;
    border-color: gold;
    margin-bottom: 10px;
    text-align: center;
}

button {
    width: 80px;
    height: 30px;
    font-weight: 700;
    background: gold;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    margin: 0px 10px 0px 10px;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder {
    text-align: center;  
 }
 
 ::-moz-placeholder {
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }